body {
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 9px;
  padding: 0;
}

li {
  color: black;
  font-size: 16px;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.card-body {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.search-form {
  text-align: center;
  padding-bottom: 25px;
}
.btn-search {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  background-color: #e3eeff;
  border: 2px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-search:hover {
  background: white;
  color: black;
  cursor: pointer;
}
.btn-current {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  background-color: #e3eeff;
  border: 2px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-current:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.units {
  font-size: 20px;
  text-align: center;
  padding-left: 175px;
  padding-top: 500px;
}

.today-forecast {
  text-align: center;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-top: 25px;
}

#sun-symbol {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
